/*FONT----------*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');


/*HTML----------*/
html{
    font-size: 10px;
}


/*BODY----------*/
body{
    font-family: 'Cormorant garamond', serif ;
    background-color: #f9f6f3;
    color: #413125;
}


/*ALL H1----------*/
h1{
    font-size: 10rem;
}


/*ALL H2----------*/
h2{
    font-size: 5rem;
    padding-left: 8rem;
}


/*ALL P----------*/
p{
    font-size: 2rem;
}


/*HEADER----------*/

.header-flex{
    display: flex;
    padding: 6rem;
}

nav{
    font-size: 3rem;
    display: inline;
}

nav ul {
    list-style: none;
    margin-bottom: 2rem;
}

.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-header{
    display: flex;
    flex-direction: column;
}

.navigation-header ul{
    display: flex;
    gap:2rem;
}


/*SEARCH----------*/

.search-container{
    background: #ffffff;
    border-style: solid;
    border-radius: 1rem;
}


/*SEARCH-FIELD----------*/
input{
    height: 6.5rem;
    width: 36rem;
    border-style: none;
    background: none;
}


/*SEARCH-BUTTON----------*/
.search-button{
    background: none;
    border: none;
}



/*HERO----------*/

.chairs-and-tables-img{
    width: 100%;
    position: absolute;
}

.hero-text{
    position: relative;
    padding-top: 58rem;
}

.hero-sjekk-ut{
    font-size: 7rem;
    color: #f9f6f3;
}

.hero-les-mer{  /*Spør om alt dette er riktig*/
    
    background-color: #b27445;
    color: #f9f6f3;
    font-size: 3rem;
    padding: 1rem;

    /*      Top  Right  Bottom Left      */
    margin: 1rem 120rem 10rem 8rem ;
    text-align: center;
}



/*BLI-INSPIRERT----------*/

.carousel-container{
    height: 40rem;
    margin: 8rem;

    display: flex;
    gap: 8rem;
    justify-content: center;
}










/*FOOTER----------*/
footer{
    background-color: #535c5a;
    color: #f9f6f3;
    position: relative;
}
