/*FONT----------*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');


/*HTML----------*/
html{
    font-size: 10px;
}


/*BODY----------*/
body{
    font-family: 'Cormorant garamond', serif ;
    background-color: #f9f6f3;
    color: #413125;
}


/*ALL H1----------*/
h1{
    font-size: 10rem;
}


/*ALL H2----------*/
h2{
    font-size: 5rem;
}


/*HEADER----------*/
.header-flex{
    display: flex;
}

nav{
    font-size: 3rem;
    display: inline;
}

nav ul {
    list-style: none;
}


<<<<<<< HEAD
=======



footer{
    background-color: #535c5a;
}

>>>>>>> 7a35e210c541f4d502fcb10f8f56fd69feaf8911
