/*FONTS----------*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Noto+Sans:wght@100;300;500;800&display=swap');


/*HTML----------*/
html{
    font-size: 10px;
}


/*BODY----------*/
body{
    font-family: 'Cormorant garamond', serif ;
    background-color: #f9f6f3;
    color: #413125;
}


/*ALL H1----------*/
h1{
    font-size: 10rem;
}


/*ALL H2----------*/
h2{
    font-size: 5rem;
    padding-left: 8rem;
    margin-top: 18rem;
    
}


/*ALL P----------*/
p{
    font-size: 2.5rem;
}


/*HEADER----------*/
.header-flex{
    display: flex;
    padding: 6rem;
}

nav{
    font-size: 3rem;
    display: inline;
}

nav ul {
    list-style: none;
    margin-bottom: 2rem;
}

.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-header{
    display: flex;
    flex-direction: column;
}

.navigation-header ul{
    display: flex;
    gap:2rem;
    align-items: center;
}

.alle-produkter{
    text-decoration: none;
    color: #413125;
}


/*SEARCH----------*/
.search-container{
    background: #ffffff;
    border-style: solid;
    display: flex;
}


/*SEARCH-FIELD----------*/
input{
    height: 6.5rem;
    width: 36rem;
    border-style: none;
    background: none;
    font-size: 3rem; /*Størrelse kan endres*/
  
}


/*SEARCH-BUTTON----------*/
.search-button{
    background: none;
    border: none;
}


/*HERO----------*/
.hero-container {
    width: 100vw;
    height: 80vh;
    background-image: url('../assets/hero-3.png');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 4rem;
}

.hero-text{
    position: absolute;
    bottom: 4rem;
}

.hero-sjekk-ut{
    font-size: 7rem;
    color: #f9f6f3;
    margin-bottom: 2rem;
    padding-left: 0;
}

.hero-les-mer{
    background-color: #b27445;
    color: #f9f6f3;
    font-size: 3rem;
    padding: 2rem 4rem 2rem 4rem;
    text-align: center;
    border: none;
}


/*BLI-INSPIRERT----------*/
.carousel-container-one{
    height: 40rem;
    margin: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
}


/*KAMPANJE----------*/
.carousel-container-two{
    display: flex;
    justify-content: center;
    margin: 8rem 8rem 0rem 8rem;
}


/*OM-OSS----------*/
.om-oss-heading{
    text-align: center;
}

.om-oss-flex{
    margin: 8rem 8rem 8rem 8rem;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.om-oss-container1{
    display: flex;
    gap: 8rem;
}

.om-oss-container2{
    display: flex;
    flex-direction: row-reverse;
    gap: 8rem;

}

.article1{
    margin: 4rem;
}









.green-box-4{
    height: 60rem;
}

.green-box-5{
    height: 60rem;
}














/*FOOTER----------*/
footer{
    background-color: #535c5a;
    color: #f9f6f3;
    position: relative;
}




/*footer-flex----------*/
.footer-flex{
    display: flex;
    gap: 8rem;
}

/*footer-flex-venstre-side----------*/
.flex-left{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 7rem;
    text-align: center;
    border-style: solid;
}





/*footer-flex-sosiale-meider----------*/
.flex-social{
    display: flex;
    justify-content: center; 
    gap: 6rem;
}


.navigation-footer{
    border-style: solid;
    padding: 4rem;
}


.navigation-footer ul li{
    font-size: 2.4rem;
    text-align: center;

}

.logo-footer{
    margin: 0 4rem 0 auto;
}




/*footer-flex-høyre-side----------

.flex-right{
    display: flex;
    flex-direction: row;
}
    må legge til div med ".flex-right" hvis koden skal funke
*/








  /*      Top  Right  Bottom Left      */


  /* 

  hero:




  Bli inspirert:

  stol1 nummer 1
  hylle1 nummer 2 
  muljø1 nummer 3


  hero ny - hero-ny












Font, Noto Sans kode:

font-family: 'noto sans', sans-serif;

  */



  /*Side 2---------*/

.product-cards {
    max-width: 110rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-flow: row wrap;
}

.product-card {
    width: 36rem;
}

.product-card img {
    width: 100%;
}


.product-card_info h4 {
    font-family: 'Cormorant garamond', serif ;
    font-size: 2.5rem;
}

.product-card_info img{
    width: 4rem;
    margin: 0 0 0 30rem;
}
